body {
    background-color: white;
    font-family: 'Assistant', sans-serif;
    color:  #051334;
}


// navbar
.navbar-brand {
    img {
        max-width: 100px;
    }
}

.btn-login {
    background-color:  #051334;
    color: white;

    &:hover {
        background-color: #0e32a8;
        color: white;
    }
}

.navbar-light {
    .navbar-nav {
        .nav-link {
            color: #001A70;

            &.active {
                font-weight: bold;
                color: #001A70 !important;
            }
        }
    }
}

.btn-navbar-right {
    margin-top: -10px !important;
    margin-bottom: -8px !important;
    margin-right: -17px !important;

    height: 70px;
    border-radius: 0;
}

// header
header {
    padding: 180px 0 165px;
    margin-top: -70px;
    background-image: url("../images/header-background@2x.jpg");
    background-size: cover;

    h1,
    p {
        color: white;
    }

    h1 {
        font-family: 'Playfair Display', serif;
        font-weight: bold;
        font-size: 50px;
    }

    p {
        font-size: 22px;
    }

    .btn-getstarted {
        background-color: #f38938;
        color: #fff;

        &:hover {
            background-color: #f09855;
            color: white;
        }

    }
}

// stats
.section-stats {
    margin-top: -50px;

    .stats-detail {
        padding-top: 18px;
        background-color: white;
        padding-left: 40px;
    }

    h2 {
        font-size: 30px;
        margin-bottom: 0;
    }
}

// popular
.section-popular {
    min-height: 540px;
    background-color: #051334;
    margin-top: -50px;
    margin-bottom: -230px;

    .section-popular-heading {
        margin-top: 150px;

        h2,
        p {
            color: white;
        }

        h2 {
            font-family: 'Playfair Display', serif;
            font-weight: bold;
            font-size: 40px;
        }

    }
}

.section-popular-content {
    .section-popular-travel{
        .card-travel{
            min-height: 380px;
            background-color:#ddd;
            color: white;
            padding: 30px;
            background-size: cover;
            margin-bottom: 20px;
        }
        
        .travel-country{
            color: white;
            font-size: 18px;
        }
        
        .travel-location{
            color: white;
            font-size: 26px;
        }

        .travel-button {
            .btn-travel-details{
                background-color: #f38938;
                color: white;

                &:hover {
                    background-color: #f09855;
                    color: white;
                }
            }
        }
    }
            
}

//our networks
.section-networks{
    background-color: white;
    margin-top: -170px;
    padding-top: 240px;
    padding-bottom: 50px;

    h2{
        font-family: 'Playfair Display', serif;
        font-weight: bold;
        font-size: 40px;
    }

    p {
        font-size: 18px;
    }

    img{
        max-width: 100%;
    }
}

// testimonials
.section-testimonial-heading {
    background: linear-gradient(#fff 0%, #f7f9ff 100%);
    padding-top: 50px;
    min-height: 506px;

    h2{
        font-family: 'Playfair Display', serif;
        font-weight: bold;
        font-size: 40px;
    }

    p{
        font-size: 18px;
    }
}

.section-testimonial-content{
    margin-top: -300px;
    padding-bottom: 50px;

    .card-testimoni{
        padding: 40px 20px 10px;
        border-radius: 11px;
        margin-bottom: 20px;

        .testimoni-content{
            min-height: 380px;
        }

        h3{
            font-size: 23px;
        }

        .testimoni{
            font-weight: 200;
            font-size: 26px;
            color: #6e6e6e;
            min-height: 160px;
        }

        .trip-to{
            font-weight: normal;
            font-size: 22px;
            color: #6e6e6e;
        }

        hr{
            margin-left: -20px;
            margin-right: -20px;
        }
    }

    .btn-getstarted {
        background-color: #f38938;
        color: #fff;

        &:hover {
            background-color: #f09855;
            color: white;
        }

    }

    .btn-help {
        background-color: #d4d4d4;
        color: #fff;

        &:hover {
            background-color: #adadad;
            color: white;
        }

    }
}

// footer
.section-footer{
    a {
        color: #001A70;

    }
}

// details
.section-details-header{
    min-height: 310px;
    background: #e4e6eb;
    margin-top: -70px;
}

.section-details-content{
    margin-top: -210px;
    min-height: 100vh;
    
    .breadcrumb{
        background: transparent;
        padding: 0;
        margin-bottom: 30px;
    }

    .breadcrumb-item{
        color: #001A70;
        &.active{
            font-weight: bold;
            color: #001A70;
        }
    }

    .card-details{
        padding: 30px;
        border-radius: 11px;

        h1{
            font-size: 26px;

        }

        h2{
            font-size: 20px;

        }

        p{
            font-size: 18px;
            color: #b1b1b1;
            text-align: justify;
        }

        h3{
            font-weight: 300;
            font-size: 14px;
            color: #001A70;
        }

        .trip-informations{
            th{
                font-weight: 300;
                font-size: 18px;
                color: #001A70;
            }

            td{
                font-weight: 300;
                font-size: 18px;
                color: #b1b1b1;
            }

            .text-blue{
                color: #001A70;
                font-weight: bold;
            }

            .text-orange{
                color: #f38938;
                font-weight: bold;
            }
        }

        .payment-instructions{
            font-weight: 300;
            font-size: 14px;
            color: #b1b1b1;
        }

        .bank{
            .bank-item{
                h3{
                    font-size: 18px;
                    color: #001A70;
                    margin-bottom: 0;
                }

                p{
                    margin-bottom: 0;
                }

                .description{
                    margin-left: 10px;
                    overflow: hidden;
                    float: left;

                    p{
                        font-weight: normal;
                        font-size: 16px;
                        color: #001A70;
                    }
                }
            }

            .bank-image{
                width: 45px;
                height: 45px;
                float: left;
            }
        }

        .disclaimer{
            font-weight: 300;
            font-size: 14px;
            color: #b1b1b1;
        }

        .gj-datepicker{
            .datepicker{
                border-right: 0;
            }

            .input-group-append{
                .btn{
                    padding-right: 30px;
                }
            }
        }

        .btn-add-now{
            background-color: #001A70;
            color: white;

            &:hover{
                background-color: #0e32a8;
                color: white;
            }
        }
        
    }

    .card-right{
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom: 0;
    }
    
    .features{
        margin-top: 20px;

        h3{
            font-size: 18px;
            color:#001A70;
            margin-bottom: 0;
        }

        p{
            margin-bottom: 0;
        }

        .description{
            margin-left: 10px;
            overflow: hidden;
            float: left;
        }

        .featured-image{
            width: 45px;
            height: 45px;
            float: left;
        }
    }

    .gallery{
        .xzoom-container{
            display: block;

            .xzoom{
                width: 100%;
                box-shadow: none;
                margin-bottom: 10px;
                
            }

            .xactive{
                border: 6px solid #1ABC9C;
                box-shadow: none;
            }
        }
    }

    .members{
        .member-image{
            width: 40px;
            height: 40px;
        }
    }

    .join-container{
        margin-top: -16px;
    }

    .btn-join-now{
        background-color: #f38938;
        color: white;
        border-radius: 0;
        
        &:hover{
            background-color: #f09855;
            color: white;
        }
    }

}

// success checkout
.section-success{
    height: 99vh;

    h1{
        font-weight: 600;
        font-size: 26px;
        color:#001A70;
    }

    p{
        font-weight: 300;
        font-size: 18px;
        color: #b1b1b1;
    }

    .btn-homepage{
        border-radius: 4px;
        background-color: #001A70;
        color: white;


        &:hover{
            background-color:#0e32a8;
            color: white;
        }
    }
}

